# Software Name: OUDS iOS
# SPDX-FileCopyrightText: Copyright (c) Orange SA
# SPDX-License-Identifier: MIT

--swiftversion 5.7

--exclude Resources/CodeGen/**,Pods/**

--disable blankLinesAroundMark,blankLinesAtStartOfScope,redundantRawValues,modifierOrder

--closingparen same-line
--decimalgrouping 3,4
--extensionacl on-declarations
--ifdef no-indent
--semicolons never
--stripunusedargs closure-only
