# Software Name: Orange Unified Design System
# SPDX-FileCopyrightText: Copyright (c) Orange SA
# SPDX-License-Identifier: MIT

name: Run tests

# Rules for this GitHub Actions workflow
# - workflow can be triggered manually if needed (workflow_dispatch)
# - use "almost" frozen version of macOS
# - is for all branches except main as linter will be run earlier in the flow on previous branches
# - automatically triggered when pull request is opened and has new commits (synchronize)
# But beware, triggered on commit push, so do not be a push-machine-gun!

on:
  push:
    branches-ignore:
      - master      

  workflow_dispatch: 

  pull_request:
    types:
      - opened
      - synchronize
    branches-ignore:
      - master            

permissions:
  contents: read

# Cancel-in-progress to avoid to have more and more runs for the same thing in the branch or pull request
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  SwiftLint:
    name: Run tests
    runs-on: macos-26
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
  
      - name: Run tests
        run: |
          cd scripts && ./run-tests.sh